@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: rgb(40, 39, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login-img {
    width: 35vw;
}

.title {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #1064ad 0%,
            #459fed 29%,
            #93c8f7 67%,
            #ffffff 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 4vh;
    text-shadow: 0px 0px 40px rgba(0, 195, 255, 0.322);
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-login-img {
    width: 10%;
    height: 10%;
    box-shadow: 0px 12px 40px #00000056;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(56, 56, 68);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337);
}

.card-login>h1 {
    color: #459fed;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgb(75, 71, 85);
    color: rgba(240, 255, 255, 0.871);
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337);
    outline: none;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.textfield>label {
    color: rgba(240, 255, 255, 0.871);
    margin-bottom: 10px;

}

.textfield>input::placeholder {
    color: rgba(240, 255, 255, 0.58);
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(0, 9, 61);
    background-color: #459fed;
    cursor: pointer;
    box-shadow: 0px 8px 40px -12px rgba(0, 195, 255, 0.322);
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 4vh;
    text-shadow: 0px 0px 40px rgba(0, 195, 255, 0.322);
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-img {
        width: 50vh;
    }

    .card-login {
        width: 90%;
    }
}